<!-- Footer -->

<footer class="text-center text-lg-start bg-light">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      
      
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h5 class="fw-bold mb-4">
             Vanshika Traders Pvt Ltd.
            </h5>
            <p>
                Project Materials Suppliers.
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Products
            </h6>
            <p>
              <a href="#!" class="text-reset">MS MATERIAL</a>
            </p>
            <p>
              <a href="#!" class="text-reset">WATER TANK</a>
            </p>
            <p>
              <a href="#!" class="text-reset">DOOR HARDWARE</a>
            </p>
            <p>
              <a href="#!" class="text-reset">CEMENT & etc</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Useful links
            </h6>
            <p>
              <a href="#!" class="text-reset">Pricing</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Settings</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Orders</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Help</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p><i class="fas fa-home"></i>OFFICE- COMMERCIAL BUILDING, C102,
                1st FLOOR, SAi SHANTI PARK, PORWAL
                ROAD, LOHEGOAN, PUNE - 41104</p>
            <p>
                <i class="fa fa-fw fa-envelope"></i>
              vanshikatraders1313@gmail.com 
            </p>
            <p><i class="fas fa-phone me-3"></i> + 91 7448040914</p>
            <p><i class="fas fa-print me-3"></i> + 91 7083993513</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2023 Copyright:
      <a class="text-reset fw-bold" href="https://vtsworld.in/">vtsworld.in</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->