<!--<div class="nav-scroller bg-body shadow-sm">
    <nav class="nav" aria-label="Secondary navigation">
      <a class="nav-link active" aria-current="page" href="#">Dashboard</a>
      <a class="nav-link" href="#">
        Friends
        <span class="badge text-bg-light rounded-pill align-text-bottom">27</span>
      </a>
      <a class="nav-link" href="#">Explore</a>
      <a class="nav-link" href="#">Suggestions</a>
      <a class="nav-link" href="#">Link</a>
      <a class="nav-link" href="#">Link</a>
      <a class="nav-link" href="#">Link</a>
      <a class="nav-link" href="#">Link</a>
      <a class="nav-link" href="#">Link</a>
    </nav>
  </div>-->
  <div class="navbar bg-primary bg-blue" aria-label="Vanshika Traders">
   
      <img src="/assets/VTS.gif"  routerLink="/" alt="logo" style="max-height: 80px; "/>
      <a class="navbar-brand"  style="font-size: 32px;
      color: white;" routerLink="/"><b>Vanshika Traders Pvt Ltd.</b></a>
      <span style="position: relative; left: 80%;">
      <a href="#" class="btn btn-primary my-2" >Login </a> / 
      <a href="#" class="btn btn-primary my-2">Sign Up</a>
      </span>
      
        
  </div>

  <nav class="navbar navbar-expand-sm navbar-light bg-light" aria-label="Third navbar example">
    <div class=" -fluid">   
      
   

      <div class="collapse navbar-collapse" id="navbarsExample03">
        
        <ul class="navbar-nav me-auto mb-2 mb-sm-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/"><b>Home</b></a>
          </li>          
          <li class="nav-item">
            <a class="nav-link " routerLink="/products"><b>Products</b></a>            
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink="/clients"><b>Clients</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink="/about"><b>About</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink="/contactus"><b>Contact Us</b></a>
          </li>         
        </ul>       
      </div>
   
    </div>
  </nav>